.App {
    margin-top: 100px;
    text-align: center;
    border: 1px solid;
}

.counter {
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid;
    background-color: darkgray;
    color: blue;
}

.red {
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid;
    background-color: darkgray;
    color: red;

}

.buttonIncReset {
    width: 100px;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid;
    background-color: darkgray;
    color: blue;
}





/*.App {
    padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}*/
